<ion-modal-view>
  <ion-header-bar class="bar-secondary">
    <h1 class="title">隐私条款</h1>
    <button class="button button-clear button-positive" ng-click="closeModal2()">
      <span class="icon ion-close"></span>
    </button>
  </ion-header-bar>`
  <ion-content>
    <div class="item item-text-wrap">
        <h2>喵看隐私条款</h2>
        <br><br>
          欢迎来到喵看（以下简称“喵看”，“我们”）。喵看致力于为我们的用户提供一个敞开心扉、用真实与自我世界交流、找到有共鸣的陌生人的社交平台。喵看重视本公司产品及服务之用户的隐私，并且尽商业上合理的一切努力保护这些隐私。本隐私条款为喵看应用程序使用条款的一部分，适用于您使用我们的软件应用(“喵看应用程序”)，或与喵看员工交流的过程中我们获得的信息。本隐私条款包括了我们通过喵看应用程序收集、使用及披露任何用户信息的政策。通过使用喵看应用程序，您明确同意我们在遵守任何适用的法律的前提下，根据以下政策收集、披露或者以其他方式使用您的个人信息。我们将不断改善喵看应用程序，并会对我们的隐私条款不时更新。我们将在喵看应用程序中通知您隐私条款的任何重要变化。请注意我们并不对任何第三方服务（包括喵看应用程序链接到的任何服务，或者可以链接到喵看应用程序的任何服务）的隐私内容负责。
        <br><br>   
          我们将收集以下信息:
        <br><br>
           • 个人信息及匿名性。我们收集的资料非常少。如果您选择邀请您的朋友通过我们的“邀请好友”功能，当您发送邀请的时候您需要同时显示您的手机号码给您的朋友。您发表的言论将是公开可见的，所以如果您想保持您的匿名您不应该在言论中包含任何个人信息。此外，当您允许我们通过启用喵看应用程序的地点服务，您的地理位置信息和邻近的其他用户，您的设备采集的经纬度位置信息也将公开显示。因此，即使您不在您发表的言论中包含个人信息，您使用喵看应用程序可能仍然允许别人根据您发表的言论以及地理位置信息确定您的身份。我们鼓励您要谨慎小心，以免披露可能被别人利用来识别您的身份。请注意：喵看应用程序的匿名性质仅仅体现于您和喵看应用程序程序其他用户之间交流互动的匿名性。您的某些信息（包括但不限于地理位置信息、移动设备编号、IP地址、个人使用偏好等）对喵看并非为匿名的。依据本地法律法规，喵看有义务识别、收集该等个人信息并在法定期限内保留该等个人信息。在法律要求的情况下，喵看有义务向执法机关披露提供该等个人信息并导致披露您的个人身份。
        <br><br>
           • 设备编码。您安装喵看应用程序时，我们会收集您安装喵看应用程序的设备编码。
        <br><br>
           • 使用数据。我们会自动收集使用信息，但这并不代表我们可以由此知悉我们用户到底是谁。收集用户数据只是让我们收集信息，以了解人们是如何访问和使用喵看应用程序的。该类信息被称为使用数据。我们收集它是为了更好地了解我们的用户是如何与喵看应用程序进行互动的，使得我们能够持续地改善用户体验。
        <br><br>
          以下是使用数据的一些例子：
        <br><br>
          - 当您下载并使用我们的服务，我们会自动收集有关您所使用的设备类型，您的设备上的操作系统版本和您的IP地址信息。这有助于我们分析数据的趋势和用户行为，管理喵看应用程序，提高或更新我们的服务。它可以帮助我们为您提供更好的用户体验。
        <br><br>
        - 当您下载或使用我们的移动应用程序或服务，接受我们的要求，接入或跟踪基于位置的信息：如果您已启用应用程序的定位服务，您的设备会提供经纬度信息。我们这样做的原因是为了帮助您了解您所在地区的其他喵看应用程序用户的发贴量或为我们确定该地区有多少帖子。然而，您有权完全自愿决定是否允许我们访问或跟踪您的位置。事实上，您可以在任何时候自由选择接受或拒绝我们基于位置的服务。但是，请记住，即使您已停用定位服务，我们仍然可以根据您的IP地址（而不是您的确切位置）确定您所在的城市、省份和国家。   
        <br><br>
        • 私信数据。当您使用喵看应用程序来发送或接收消息，为了提供服务之需要，我们将处理和存储您的信息以及其他相关信息（“私信数据”）。请注意依据适用的法律法规以及监管机构的要求，我们有义务在法定的期限内将私信数据予以保留存档，并有义务在监管机构要求时予以披露，或依照法律法规主动向监管机构披露。我们仅在法定期限内对您的私信数据予以保留。   
        <br><br>
        我们将通过以下方式使用我们收集的信息：   
        <br><br>
        从您收集到的信息主要是供我们内部使用。这包括为您提供喵看应用程序，让您知道我们有新产品或服务，或与您进行通信。   
        <br><br>
        喵看致力于隐私和信息安全，保护您的匿名性。但是在以下情况下，我们有义务披露我们向您收集的信息。
        <br><br>
           • 首先，我们尊重法律。 这意味着，如果我们有充分的理由相信，有必要遵守适用的法律，法规，法律执行程序（如行政执法机关或法院命令）或需强制执行的来自政府方面的要求，我们有可能需要透露一些您的个人信息，如您发表的言论，IP地址，您的地理位置。
        <br><br>
           • 第二，我们希望您能尊重法律。 喵看不是一个藏匿罪犯的地方。您不得使用喵看应用程序计划、煽动、推广、教唆或进行任何犯罪行为。该类犯罪行为包括但不限于人口贩卖，性侵犯，诈骗、非法传销或任何法律法规禁止的行为。这些类行为违背我们的使命，且违反了我们的使用条款，更重要的是这些行为是违法的。如果我们收到确切的合法请求，或者我们知悉您试图使用喵看应用程序发布有紧迫危险的言论，发布含有本使用条款禁止信息的言论，或我们明知或合理怀疑您通过您喵看应用程序进行本条款所描述的任何非法活动，我们将会将我们所拥有的有限信息（包括IP地址）披露给相关执法机构。
        <br><br>
           • 第三，我们不希望任何人受到伤害。 喵看致力成为一个安全的地方。在某些情况下，为了用户更大的利益我们需要披露个人信息。例如：如果我们看到如涉及蓄意伤害自己或他人，失踪人口信息，威胁信息、自杀声明，我们会相应披露该等信息。
        <br><br>
           因为技术原因分享您的信息
        <br><br>
           • 我们会不时地与其他我们认为值得信赖的企业建立业务关系。我们会认真审核，确认服务供应商的隐私条款是与我们是一致的。这些服务提供商包括为我们提供服务器托管和维护，客户关系管理，推送通知，以及数据存储和管理的第三方厂商。
        <br><br>
           • 我们仅在服务供应商为了履行服务所必须的范围内向它们提供您的信息。我们要求每个服务提供商内部必须采用安全程序并且该等安全程序是合理有效的。这是我们用以避免您的信息在未经授权的情况下被披露、使用或被他人获取的手段之一。此外，我们禁止我们的服务提供商以未经我们许可的方式使用您的信息。
        <br><br>
           • 此外，我们可能会使用和披露使用数据给第三方。这种使用数据无法识别单个用户的身份。我们使用移动分析软件来帮助我们更好地了解在您的设备上喵看应用程序是如何工作的，例如，您使用喵看应用程序的频率、使用过程中发生的事件、累计使用的时间、运行数据、以及您在哪里下载了喵看应用程序。但我们不会把我们的内部分析软件存储的任何信息与您在移动应用程序提交的个人身份信息挂钩。我们内部对使用数据的应用，或我们将使用数据披露给第三方使用，仅仅揭示了您做了什么，而不是定位到该行为是谁做的。我们也可能会与大学或其他研究机构和科学家们合作，使用这些数据进行基于匿名的调查。   
        <br><br>
        关联公司和公司交易   
        <br><br>
        • 我们可能与我们的关联方共享从您收集到的信息。这也意味着，如果我们被合并，收购，或出售，或在我们的一些或全部资产转移的情况下，我们需要在合并、收购或出售交易中披露或转移我们所收集的信息。
        <br><br>
           我们可能在您所在的区域外保存您的信息   
        <br><br>
        喵看、喵看应用程序、本隐私条款以及您使用喵看应用程序的一切行为均受中华人民共和国法律保护及约束。
        <br><br> •您使用喵看应用程序即视为同意本隐私条款，您通过喵看应用程序向我们提交信息即表示您同意进行上述信息转移。    
        <br><br>
        更改隐私条款   
        <br><br>
        • 我们可能会定期更改本隐私条款。如果我们决定做重大变更本隐私条款，我们将在喵看应用程序中通知您。当我们在喵看应用程序发布更新后的隐私条款时，该等隐私条款的变更就会生效。您若继续使用喵看应用程序，即视为您同意遵守修订后的隐私条款的约束。
        <br><br>
           儿童信息政策
        <br><br>
           • 喵看的使用条款明确禁止未满13周岁的用户使用喵看应用程序。我们不会在知情的情况下许可未满13周岁的用户使用喵看应用程序，也不会在知情的情况下收集任何不满13岁的儿童的个人信息。如果父母或监护人知道其子女未经监护人同意而向我们提供可以确认身份的个人信息，请联系我们。如果我们知道有不满13岁的儿童向我们提供了可以确认身份的个人信息，我们将予以删除，并注销其喵看账号。   
        <br><br>
        信息安全 
        <br><br>
          • 我们采用合理的物理、技术和管理方面的安全措施保护我们收集的信息。但任何网络传输方法以及电子储存方法均不是100%安全可靠。尽管我们尽商业上的一切合理努力保障我们收集的信息的安全性，但我们不能保证其绝对安全。   
        <br><br>
        • 如喵看知悉任何导致未经您授权的披露您的信息的行为，我们将以电子邮件方式或在喵看应用程序中向您发出通知，以便您采取适当的保护措施。
        <br><br>
         钓鱼式攻击   
        <br><br>
        • 身份盗用和目前被称为“网钓”的做法深受喵看的关注。保护您的信息使您的身份不被盗用是我们的首要任务。我们在任何时候均不会要求您在不安全或未经邀约的电子邮件或电话中披露您的信用卡信息、账号、登录密码或身份证号码。同时出于安全考虑，我们也不允许用户在喵看应用程序中自愿发布自己的或他人的任何能够定位到个人的内容，包括但不限于社交网络账号、密码、身份证号码等；如果我们一旦发现该等信息，我们将立刻予以删除。   
        <br><br>
        其他网站链接 
        <br><br>
          • 喵看应用程序包括提供其他网站和在线服务的链接。其他网站和在线服务也可能包括喵看应用程序的链接。如您通过点击第三方链接访问第三方服务或广告，您将进入该第三方网站或在线服务。我们提供网站或内容链接、标题广告或其他类型广告不表示支持、允许或声明我们与该第三方存在关联关系，亦不表示我们支持其隐私或信息安全政策或做法。我们在其他网站和媒体嵌入喵看应用程序，也不表示我们支持、允许或声明我们与该第三方存在关联关系，亦不表示我们支持其隐私或信息安全政策或做法。其他网站和服务在有关使用和隐私条款方面使用不同规则。我们建议您阅读您使用的其他网站和服务的隐私条款或声明。我们对于该等第三方网站或服务无法控制。   
        <br><br>
        责任豁免
        <br><br>
           • 喵看、其关联方、员工、高管和代理人对以下情形不承担责任：(i) 法律或相关政府部门要求的您个人信息的披露（和/或您已经提供的其他人的个人信息）；(ii) 您的作为或不作为导致的您的个人信息的披露（和/或您已经提供的其他人的个人信息）；或 (iii) 因喵看无法控制的自然灾害带来的任何后果；(iv) 其他第三方网站收集、使用、处理或披露您的个人信息（和/或您已经提供的其他人的个人信息）；(v) 您向喵看提供的任何不准确的个人信息（和/或您已经提供的其他人的不准确的个人信息）及 (vi) 您披露任何不满13岁的儿童的个人信息。    
    </div>
  </ion-content>
</ion-modal-view>